.confirm {
  padding-top: 10px;
  padding-bottom: 30px;
}

.confirm__label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: calc(24 / 14);
}

.confirm__link {
  display: inline;
  color: var(--text-hover-color);
}
