.btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--btn-color);
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-first-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--btn-color-hover);
  }
}
