.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--text-hover-color);

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
    margin-right: 93px;
  }
}

.logo--dark {
  color: var(--logo-dark-color);
}

.logo--light {
  color: var(--logo-light-color);
}
