.join {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 165px;
    padding-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 70px;
    padding-top: 0;
  }
}
