.nav {
  display: flex;
}

.nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 31px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-hover-color);
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: var(--text-hover-color);
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    background-color: var(--text-hover-color);
    border-radius: 2px;
  }
}
