.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    background-color: var(--bg-color);
    z-index: 4;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__link {
  display: inline-block;
  // position: relative;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-hover-color);
  }

  @media screen and (min-width: 768px) {
    position: relative;
    padding-top: 32px;
    padding-bottom: 31px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.nav__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.current {
  color: var(--text-hover-color);
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    background-color: var(--text-hover-color);
    border-radius: 2px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
