.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact__item:last-child {
  margin-left: 50px;
}

.header-contact__link,
.header-contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--content-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-hover-color);
  }
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
