.header-contact {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;

  // align-items: center;
  // margin-left: auto;
}

.header-contact__item {
  padding-top: 32px;
}

.header-contact__item:last-child {
  // margin-left: 50px;
}

.header-contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--content-text-color);

  &.header-contact__mail {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  &.header-contact__tel {
    font-size: 34px;
    line-height: calc(40 / 34);
    color: var(--text-hover-color);
  }
}

// display: flex;
// align-items: center;
// padding-top: 32px;
// padding-bottom: 31px;
// font-family: 'Roboto', sans-serif;
// font-weight: 500;
// font-size: 14px;
// line-height: calc(16 / 14);
// letter-spacing: 0.02em;
// color: var(--content-text-color);
// transition-property: color;
// transition-duration: 250ms;
// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// &:hover,
// &:focus {
//   color: var(--text-hover-color);
// }

.header-contact__icon {
  display: none;

  // margin-right: 10px;
  // fill: currentColor;
}

.header-social {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
}

.header-social__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--text-hover-color);
}
