.overflow-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.card__overlay {
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--btn-text-first-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
  .card:hover & {
    transform: translateY(0%);
  }
}
